#navbar {
  .navbar-right {
    display: inline-block;
  }
}

#about {
  .about-slider {
    margin-top: 100px;
  }
  .team {
    display: block;
    width: 100%;
    margin-top: 30px;
    .card-team {
      width: 200px;
      display: inline-block;
      margin: 14px;
      img {
        width: 100%;
        border-radius: 100%;
      }
      .card-subtitle {
        margin-top: 5px;
        text-align: center;
      }
    }
  }
}

#service {
  .heading {
    width: 100%;
  }
}
