/* ======== Cores */
$preto: #000000;
$branco: #fff;
$principal: #45911b;
$secundaria: #9ec25e;

/* ======== Font */
$light: 300;
$regular: 400;
$bold: 700;

/* ======== Media Screen */
$smartphone: 440px;
$tablet: 991px;
$desktop: 1280px;
